/*Aqui começa um código compartilhado entre todas as páginas*/
body{
    font-family: 'Inter', sans-serif;
}
header{
    background-color: #BBBBBB;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 950px;
    margin: 0 auto;
}

nav{
    position:absolute;
    top: 110px;
    right:0;        
}

nav li{
    display: inline;
    margin-left: 0015px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

nav a:hover{
    color: #C78C19;
    text-decoration: underline;
    font-size: 23px;

}
/*Aqui acaba o codígo compartilhado entre todas a páginas*/

/*INDEX - Aqui começa o código da página principal*/

.banner{
    width:100%;
}

.principal p{
    margin: 0 0 1em;
}
.principal strong{
    font-weight: bold;
}

.principal em{
    font-weight: italic;
}

.principal{
    background: #FEFEFE;
    text-align: justify;
    margin: 14px 0 auto;
    display: block;
    line-height: 28px;
    font-size: 20px;
    width: 940px;
    margin:0 auto;

}

.principal-head-text{
    font-size: 2em;
    text-align: center;
    margin: 0 0 1em;
    clear:left;
    margin-top: 35px;
}

.imagemUtensilios{
    width: 120px;
    float: left;
    margin: 0 15px 0 0;
}

.maps{
    padding: 3em 0;
    background-color: orangered;
}
.maps-conteudo{
    width:940px;
    margin:0 auto;
}
.maps p{
    text-align: center;
    margin: 0 0 2em 0;
}

.beneficios{
    background: #888888;
    line-height: 28px;
    font-size: 20px;
    padding: 3em 0;
    
}

.beneficios h3{
    font-size: 26px;
    margin: 21px 0;
    font-weight: bold;
}

.conteudo-beneficios{
    width:640px;
    margin: 0 auto;
}

.lista-beneficios{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens:first-child {
    font-weight: bold;
}
.imagemDosBeneficios{
    width: 60%;
}

.video{
    width: 560px;
    margin: 2em auto;
}

/*Aqui acaba o codígo da página principal*/

/*PRODUTOS - Aqui se encontra o código apenas da página produtos*/
.products {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.products li{
    display: inline-block;
    text-align: center;
    width: 29%;
    vertical-align: top;
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 1.5%;
}

.products li:hover{
    border-color: #C78C19;
}
.products li:hover h2{
    font-size: 35px;
}

.products li:active{
    border-color: rgb(64, 128, 128);
}

.products h2{
    font-size: 30px;
    font-weight: bold;
}

.products p{
    font-size: 18px;
    padding: 10px 20px;

}

.products strong{
    font-size: 22px;
    font-weight: bold;
    
}   
/*Aqui acaba  o código exclusivo da página produtos*/

/*Aqui se encontra o código compartilhado entre todas as páginas*/
footer{
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}
/*Aqui acaba código compartilhado entre todas as páginas*/


/*CONTATOS - Aqui se encontra o código da página contatos*/
main{
    width: 990px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    font-size: 20px;
    display: block; 
}

.input-padrao{
    margin: 12px 0 15px;
    display: block;
    padding: 14px 26px;
    width: 50%;
}

.radio-padrao{
    margin-top: 15px;
    text-align: left;
}

.checkbox{
    margin-top: 28px;
}

.horarioAtendimento{
    margin-top: 32px;
}
.horarioAtendimento select{
margin-top: 12px;  
}

.envioDeFormulario{
    margin-top: 28px;
    width: 35%;
    padding: 18px 0;
    background-color: grey;
    color:#FFFFFF;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 4px;
}
.envioDeFormulario:hover{
    font-size: 17px;
    border-radius: 5px;
    background-color: rgb(68, 67, 67);
    transition: 1s all;
    cursor: pointer;
    transform: scale(1.07);
}

table{
    /*espaçamento externo*/
    margin: 20px 0 40px;
    /* margin: cima lados abaixo;*/
}

thead{
    background: #555555;
    color:white;
    font-weight: bold;
}

td,th {
    border: 1px solid #000000;
    /*espaçamento interno*/
    padding: 8px 15px;
    /*padding: Cima e Baixo lateral;*/
}
/*Aqui acaba o código da página contatos*/