/*Aqui começa o código da página home*/
.second-head{
    padding-left: 20px;
}

#banner{
    width: 100%;
}

.headers{
    text-align: center;
  }
  
.principal{
    background: #d3d3d3;
    padding: 30px;
    }

p{
    text-align: center;
}
 #mission{
    font-size: 20px;
 }
em strong{
    color:red;
}

.itens{
    font-style: italic;
}

.beneficios{
    background: #FFFFFF;
    padding: 20px;
}

ul{
   display: inline-block;
   vertical-align: top;
   width: 20%;
   margin-right: 15%;
}

.imagemDosBeneficios{

    width: 50%;
}

#linkAcessoPagProdutos{
    text-align: left;
    margin-top: 50px;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;

}

footer{
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}
/* Aqui acaba o código da página Home*/

